body {
  font-family: 'Merriweather', serif;
  margin: 0;

}

img { 
	max-width: 100%;
}

.form-container {
    background: #b0ff7f;
}

legend {
    font-size: 1.2em;
}

input,
textarea {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1em;
    min-width: 100%;
    }

button {
    cursor: pointer;
}

button:hover,
button:focus {
    outline: none;
    background: #3b8509;
    color: #ffffff;
}
